<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<!-- configuration elements -->
	<RunConfiguration>
		<EnvironmentVariables>
			<BROWSER>edge</BROWSER>
			<SECRET_USERNAME>kyle@edgewords.co.uk</SECRET_USERNAME>
			<SECRET_PASSWORD>Password1234567!</SECRET_PASSWORD>
		</EnvironmentVariables>
	</RunConfiguration>
	<TestRunParameters>
		<!--NUnit config parameters as an alternative-->
		<Parameter name="WebAppURL" value="https://www.edgewordstraining.co.uk/demo-site/my-account/"/>
	</TestRunParameters>
</RunSettings>
